<h4 style="text-align: center;" class="text-white">SIG-RML</h4>
    <div class="mb-4 text-center">
        <img src="user.png" style="width: 150px; height: 150px;" class="rounded-circle" alt="User">
        <h5 class="mt-2">Nom Utilisateur</h5>
    </div>
    <nav class="nav flex-column">
        <ul class="list-unstyled">
            <li class="nav-item">
                <a href="#" class="nav-link active" onclick="toggleMenu(this)"><i class="fas fa-chart-bar"></i> Statistiques <i class="fas fa-chevron-right toggle-icon"></i></a>
                <ul class="submenu list-unstyled">
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Rapports</a></li>
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Tendances</a></li>
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Analyses</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" onclick="toggleMenu(this)"><i class="fas fa-cog"></i> Paramètres <i class="fas fa-chevron-right toggle-icon"></i></a>
                <ul class="submenu list-unstyled">
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Universités</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" onclick="toggleMenu(this)"><i class="fas fa-users"></i> Comptes <i class="fas fa-chevron-right toggle-icon"></i></a>
                <ul class="submenu list-unstyled">
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Utilisateurs</a></li>
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Droits</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" onclick="toggleMenu(this)"><i class="fas fa-box"></i> Stock <i class="fas fa-chevron-right toggle-icon"></i></a>
                <ul class="submenu list-unstyled">
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Catégories</a></li>
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Matériels</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" onclick="toggleMenu(this)"><i class="fas fa-calendar-check"></i> Réservations <i class="fas fa-chevron-right toggle-icon"></i></a>
                <ul class="submenu list-unstyled">
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Demandes</a></li>
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Réservations</a></li>
                    <li><a href="#" class="nav-link" onclick="hideSidebar()">Historique</a></li>
                </ul>
            </li>
        </ul>
    </nav>