/* .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #00853E;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s;
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
}
.sidebar .nav-link {
    color: white;
    transition: background 0.3s, color 0.3s;
    padding: 10px 15px;
    display: block;
}
.sidebar .nav-link:hover {
    background-color: #005E2E;
    color: #F7D600;
}
.sidebar .nav-link.active {
    background-color: #F7D600;
    color: #00853E;
    font-weight: bold;
} */