<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/stock_categories">Catégories</a></li>
            <li class="breadcrumb-item"><a href="#">Ajouter</a></li>
        </ol>
    </nav>
    <div class="container-fluid bg-white">
        <p>Bienvenue sur l'interface d'ajout de nouvelle catégorie.</p>
        <hr> 
        <div class="row pb-3">
            <h2 class="text-success"><i class="fas fa-plus-circle"></i> Nouvelle catégorie</h2>
            <div class="col-md-12">
                <form [formGroup]="fG" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label for="nom" class="form-label"><i class="fas fa-tag"></i> Nom</label>
                      <input type="text" id="nom" formControlName="nom" class="form-control" required>
                      <div *ngIf="fG.get('nom')?.invalid && fG.get('nom')?.touched" class="text-danger">
                        Le nom est requis.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="code" class="form-label"><i class="fas fa-code"></i> Code</label>
                      <input type="text" id="code" formControlName="code" class="form-control" required>
                      <div *ngIf="fG.get('code')?.invalid && fG.get('code')?.touched" class="text-danger">
                        Le code est requis.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="image" class="form-label"><i class="fas fa-image"></i> URL de l'image</label>
                      <input type="file" id="image" formControlName="image" class="form-control">
                    </div>
                    <div class="mb-3">
                      <label for="description" class="form-label"><i class="fas fa-info-circle"></i> Description</label>
                      <textarea id="description" formControlName="description" class="form-control"></textarea>
                    </div>
                    <div class="d-flex justify-content-start gap-2">
                        <button type="reset" class="btn btn-secondary"><i class="fas fa-times"></i><a class="text-danger" routerLink="/stock_categories">Annuler</a></button>
                        <button type="submit" class="btn btn-success" [disabled]="!fG.valid"><i class="fas fa-save"></i> Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>