
<!-- content body -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Stock</a></li>
            <li class="breadcrumb-item"><a href="#">Matériels</a></li>
            <!-- <li class="breadcrumb-item active" aria-current="page">Tableau de Bord</li> -->
        </ol>
    </nav>
    <div class="container-fluid bg-white">
        <p>Bienvenue sur l'interface des Matériels.</p>
        <hr> 
        <!-- Liste des materiels -->
        <div class="row">
            <h1 class="text-success">Liste des Materiels</h1> 
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <!-- Filtre avec icône -->
                    <div class="input-group" style="max-width: 300px;">
                        
                        <input type="text" class="form-control" placeholder="Filtrer..." aria-label="Filtrer">
                        <span class="input-group-text"><i class="fas fa-filter"></i></span>
                    </div>
                    <!-- Boutons d'action -->
                    <div>
                        <button class="btn btn-primary" routerLink="/reservations/ajout"><i class="fas fa-plus"></i> Nouveau</button>
                        <button class="btn btn-secondary"><i class="fas fa-print"></i> Imprimer</button>
                        <button class="btn btn-success"><i class="fas fa-file-export"></i> Exporter</button>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <!-- <th>Photo</th> -->
                            <th>Libellé</th>
                            <th>Description</th>
                            <th>Catégorie</th>
                            <th>N°Serie</th>
                            <th>Etat</th>
                            <th>Laboratoire</th>
                            <th>Stock gle</th>
                            <th>Notice</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mat of liste; let i = index">
                            <td>{{i + 1}}</td>
                            <!-- <td>{{i + 1}}</td> -->
                            <td>{{mat.nom}}</td>
                            <td>{{mat.description}}</td>
                            <td>{{mat.categorie}}</td>
                            <td>{{mat.numero_serie}}</td>
                            <td>{{mat.etat}}</td>
                            <td>{{mat.laboratoire}}</td>
                            <td>{{mat.est_stock_general}}</td>
                            <td>{{mat.notice}}</td>
                            <td>
                                <button class="btn btn-info btn-sm"><i routerLink="/reservations/details" class="fas fa-eye"></i></button>
                                <button class="btn btn-warning btn-sm"><i routerLink="/reservations/modif" class="fas fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><span class="badge bg-danger">{{tabVide}}</span></p>

            </div>
        </div>
         <hr> 
    </div>
</div>