body {
    font-family: Arial, sans-serif;
    background-color: #F1F1F1;
    color: #000000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: Georgia, serif;
    color: #00853E;
}