
.example-spacer{
    flex: 1 1 auto;
}
.example-spacer0{
    /* flex: 1 1 auto; */
    width: 50px;
}
.logo {
    height: 40px;
    margin-right: 10px;
    border-radius: 25%;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
#header{
    background-color: #008000; /* Couleur primaire */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px;
    font-family: Arial, sans-serif;
  }
  
  #header .btn{
    color: white;
  }
  #header button:hover{
    color: #FFFF00;
  }
mat-drawer-container{
    height: 100%;
}

#sidenav{
    background-color: #008000;
    width: 12%;
    padding-top: 20px;
}
.sidenavtopbottom {
    width: 99%;
    height: 100%;
    /* background-color: rgb(95, 137, 236); */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    /* margin-top: 10px; */
}

.sidenavBottom{
    border-top: 3px solid #008000;    
    border-radius: 10px 10px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

mat-list-item :hover {
    /* background-color: rgb(95, 137, 236); */
    background-color: yellow;
    margin: 10px;
}

mat-drawer-content{
    padding:40px;

}